<div class="list-group">
    {{#link-to 'authenticated.passwords' class="list-group-item"}}
        <i class="fa fa-fw fa-book"></i> Library
    {{/link-to}}
</div>
<div class="list-group">
    {{#link-to 'authenticated.fill-form' class="list-group-item disabled" title="Coming Soon ..."}}
        <i class="fa fa-fw fa-pencil"></i> Fill Form
    {{/link-to}}
    {{#link-to 'authenticated.generate-password' class="list-group-item disabled" title="Coming Soon ..."}}
        <i class="fa fa-fw fa-key"></i> Generate Password
    {{/link-to}}
</div>
<div class="list-group">
    {{#link-to 'preferences' class="list-group-item"}}
    <i class="fa fa-fw fa-wrench"></i> Preferences
    {{/link-to}}
    {{#link-to 'information' class="list-group-item"}}
    <i class="fa fa-fw fa-info"></i> Information
    {{/link-to}}
</div>
<div class="list-group">
    {{#link-to 'accounts' class="list-group-item disabled" title="Coming Soon ..."}}
        <i class="fa fa-fw fa-users"></i> Switch Account
    {{/link-to}}
    {{#link-to 'logout' class="list-group-item"}}
        <i class="fa fa-fw fa-sign-out"></i> Log out
    {{/link-to}}
</div>
